<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.ancit.stmt.loader.parser">
      <parser
            bank_name="IndianBank"
            class="com.ancit.stmt.loader.indianbank.IndainStatementPareser">
      </parser>
   </extension>

</plugin>
